/*
    {
        Position
        Size
        Color
        Shape
    }
*/

* {
    margin: 0;
    padding: 0;


}

#titleHead {
    padding: 1rem;


}

#logo {
    padding: 0.5rem;

    height: 2rem;


}

#nameNsettings nav button {
    border: none;
}

#toolBar {
    margin: 0rem 1.2rem;
    padding: 0.5rem;

    background-color: rgba(191, 225, 241, 0.411);

    border-radius: 999px;
}

#toolBar input {
    height: 1.5rem;

    padding: 0 1rem;

    border-radius: 999px;

    outline: none;
    border: none;
}

.headerIcon {
    height: 1.5rem;
}